<div class="container">
    <h1>게시판 입니다.</h1>
    <a href="/posts/new">글 쓰러가기</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col">작성일자</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.reverse.each do |p| %>
        <tr>
          <th scope="row"><%= p.id %></th>
          <td><%= p.title %></td>
          <td><%= p.body %></td>
          <td><%= p.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>